html
    head
        meta(charset="utf-8")
        meta(name="description" content="A web chat application power by koa and react")
        meta(name="keywords" content="NAMI,node,react,im")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")
        link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
        link(rel="Shortcut Icon" href="/favicon.ico")
        title NAMI
    body
        div(id='App')
        script(src='/bundle/bundle.js')